<div class="container">
    <h1 class="home">
      <%= link_to "Link Categories", root_path %>
        
    </h1>
</div>    
<div class="showlink">

<h2><%= link_to @wlink.wlinkname, @wlink.urlwlink %>



<h2>This was created <%= time_ago_in_words @wlink.created_at %> ago.

	<%= link_to "Edit", edit_linkcat_wlink_path(params[:linkcat_id],@wlink) %>

	<%= link_to "Delete", linkcat_wlink_path(params[:linkcat_id],@wlink), method: :delete %>
	<%= link_to "Return", linkcat_wlinks_path(params[:linkcat_id]) %>


</div>


  	<% @wlink.comments.each do |comment| %>
  	<div class="comments">
  		<%= simple_format comment.body %>
      <% @user = comment.user_id %>
      <% @users = User.where(:id => @user) %>
  		<%= time_ago_in_words comment.created_at %> ago. Added by: <% @users.each do |user| %><%= user.username %><% end %>

  		</div>
  	<% end %>

<%= link_to "Add a comment", new_wlink_comment_path(@wlink) %>